.color{
    background-color: #ffffcc;
}
.button-color{
    background-color:#90c695 ;
}
.color2{
   background-color: #013243;
}
.text1{
    color: #013243;
}
.text2{
    color: #f27935;
}
.padding{
 justify-content: space-between;
}

.image-sect{
    width: 70px;
    height: auto;
}
.colors{
    background-color: #e8e8e8;
}